@model _5StarsSchoolForum.Models.ApplicationUser

@{
    ViewBag.Title = " User Details";
}


<div>
    <h4>User Details</h4>
    <hr />
    <dl class="dl-horizontal">
       
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", "Account", new { id = Model.Id }, null) |
    @Html.ActionLink("Back", "TeacherList","Categories")
</p>
