@model IEnumerable<_5StarsSchoolForum.Models.UserListViewModel>

@{
    ViewBag.Title = "UserList";
}

<h2>UserList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>



    @foreach (var user in Model)
    {
<tr>
    
        
          <td>
        @user.UserName |
          </td>
            <td>
              @user.Email    |
             </td>
      <td>  @user.Role
          </td>
</tr>
        
       
    }
  <tr>  <td>
        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
    </td>
</tr>
}


