@model IEnumerable<_5StarsSchoolForum.Models.CategoryMessViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>--List Of Messages In This Category--</h2>


<table class="table">
    <tr>
       
        
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostMessage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostingDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
      
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostMessage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostingDate)
        </td>
        <td>
            || @Html.ActionLink("Reply", "Create", "Replies", new { id = item.MessageId }, null) ||
            @Html.ActionLink("View Replies", "Index", "Replies", new { id = item.MessageId }, null)
            ||
            @*@Html.ActionLink("Edit", "Edit", new { id = item.MessageId }) ||*@
            @*@Html.ActionLink("Details", "Details", new { id = item.MessageId }) ||*@

            if (User.IsInRole("Teacher"))
            {
            @Html.ActionLink("Delete", "Delete", new { id = item.MessageId })||
            }
        </td>
    </tr>
}

</table>
