@model IEnumerable<_5StarsSchoolForum.Models.Message>

@{
	ViewBag.Title = "Messages";
}

<h2>Messages</h2>

<p>
	@Html.ActionLink("Create New", "Create")
</p>
@*<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Title)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.PostMessage)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.PostingDate)
		</th>
		<th></th>
	</tr>*@

@foreach (var item in Model)
{
<div>
	<div>
		@Html.DisplayFor(modelItem => item.Title)
	</div>
	<p>++++++++++++++++++</p>
	<div>
		<p>
			@Html.DisplayFor(modelItem => item.PostMessage)
		</p>
		@Html.DisplayFor(modelItem => item.PostingDate)
	</div>
	@*@if (item.Message.Id == item.Reply.Id && item.PostMessage == null)
		{
			@Html.DisplayFor(modelItem => item.Reply.Message)
			<div>
				@Html.DisplayFor(modelItem => item.Reply.PostingTime)
			</div>
		}*@


	@*<div>
			@Html.TextBoxFor(modelItem => item.Reply.Message, new { htmlAttributes = new { @class = "form-control" } })

		</div>*@
	@Html.ActionLink("Delete", "Delete", new { id = item.Id })
    @*@Html.ActionLink("Reply to Message", "Create","Reply")*@
    @Html.ActionLink("Reply to Message", "Create","Reply", new { id = item.Id },null)


</div>

	<br />

@*</div>*@
	@*<td>
				@Html.DisplayFor(modelItem => item.PostingDate)
			</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
				@Html.ActionLink("Details", "Details", new { id=item.Id }) |
				
			</td>
		</tr>*@
}

@*</table>*@
