<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <title>@ViewBag.Title - 5 Stars School Forum</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          
                <div >
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("5 Stars School Forum", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    @*<li>@Html.ActionLink("Student", "Login", "Account")</li>

                        <li>@Html.ActionLink("Teacher", "Login", "Account")</li>*@

                    @if (Request.IsAuthenticated)
                    {
                        if (User.IsInRole("Teacher"))
                        {
                            <li>@Html.ActionLink("Categories", "Index", "Categories")</li>
                            
                            <li>@Html.ActionLink("UsersList", "UserList", "Account")</li>

                        }
             @*<li>@Html.ActionLink("Student", "Index", "Home")</li>

    <li>@Html.ActionLink("Teacher", "Login", "Account")</li>*@
                
               
                   
                @*<li>@Html.ActionLink("Categories", "Index", "Categories")</li>*@
                
                }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 5-Starts-School-Forum</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
