@model IEnumerable<_5StarsSchoolForum.Models.Category>

@{
	ViewBag.Title = "Index";
}

<h2>Index</h2>

@*<p>
		@Html.ActionLink("Create New", "Create")
	</p>*@
<table class="table">
	<tr>
		@*<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>*@
		<th>
			@Html.DisplayNameFor(model => model.CategoryTitle)
		</th>
		
	</tr>

	@foreach (var item in Model)
	{

		<tr>
			<td>
				@Html.CheckBoxFor(modelItem => item.Assigned, new { onclick = "return true" })
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.CategoryTitle)
			</td>
			@*<td>
					@Html.DisplayFor(modelItem => item.Description)
				</td>*@
			@*<td>
					@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
					@Html.ActionLink("Details", "Details", new { id = item.Id }) |
					@Html.ActionLink("Delete", "Delete", new { id = item.Id })
				</td>*@

		</tr>
	}

</table>

<input id="Submit1" type="submit" value="Add Access" onclick="location.href ='@Url.Action("Assign","Categories")'" />
