@model _5StarsSchoolForum.Models.CategoryMessageReplyViewModel

@{
	/**/

	ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
	<h4>Category</h4>

	<dl class="dl-horizontal">
		@*<dt>
				@Html.DisplayNameFor(model => model.CategoryTitle)
			</dt>*@

		@*<dd>
				@Html.DisplayFor(model => model.CategoryTitle)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.UserMessages)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.UserMessages)
			</dd>*@





		<dd>@Html.DisplayFor(model => model.Category)</dd>
		<dd>**************************************************</dd>

		<dd>@Html.DisplayFor(model => model.Messages)</dd>





	</dl>



</div>


@*<ul>
		<li>
			@Html.ActionLink("Back to List", "CategoryList")
		</li>
	</ul>*@


@*<div class="col-md-4">
		<h2>
			@Html.ActionLink("Message Board", "Index", "Messages")
		</h2>
		<p>As Teacher and a student can post a message and replies in a category, remember your teachers should assign you to a specific category for you to have access, Alright Good luck!</p>
		<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>

	</div>*@



