@model _5StarsSchoolForum.Models.Category

@{
    ViewBag.Title = "Delete";
}
<br />
<br />
<br />
<h3>Are you sure you want to delete this category?</h3>
<br/>
<div class="container">
    <h4>
        Category : : @Html.DisplayFor(model => model.CategoryTitle)
    </h4>
    <hr />
    <h5>
       Messages
    </h5>
    <div class="container">
        <hr/>
        @foreach (var item in Model.UserMessages)
        {
            <h4>
                <il>@Html.DisplayFor(modelItem => item.PostMessage)</il><br />
            </h4>
            <h6>
            <il>@Html.DisplayFor(modelItem => item.PostingDate)</il>
        <il>@Html.DisplayFor(modelItem => item.User)</il>
            </h6>
<hr/>
            foreach (var reply in item.Replies)
            {
                <p class="col-md-4">
                    <il>@Html.DisplayFor(modelItemReply => reply.ReplyMessage)</il><br/>
                    <il>@Html.DisplayFor(modelItemReply => reply.PostingTime)</il>
                    <il>@Html.DisplayFor(modelItemReply => reply.User)</il>
                </p>
            }
            <hr/>
        }
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="container">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "CategoryList")
            </div>
    }
</div>
