@model IEnumerable<_5StarsSchoolForum.Models.UserViewModel>

@{
    ViewBag.Title = "Userlist";
}

<h2>Studentlist</h2>

<p>
    @Html.ActionLink("Add new user", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Roles.Name)
        </th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Roles.Name)
        </td>
		<td>
			@Html.ActionLink("Edit", "Edit", new { id = item.User.Id}) |
			@Html.ActionLink("Details","AssignedCategories", "Home", new { id = item.User.Id }, null) |
			@Html.ActionLink("Delete user", "Delete", new { id = item.User.Id })|
			@Html.ActionLink("Assign Category", "Assign","Home", new { id = item.User.Id }, null)
		</td>
    </tr>
}

</table>
