@model IEnumerable<_5StarsSchoolForum.Models.MesRepViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReplyFrom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReplyMessage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostingTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostingDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReplyFrom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReplyMessage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostingTime)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |*@
            @Html.ActionLink("Delete", "Replies/Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
