@model IEnumerable<_5StarsSchoolForum.Models.CategoryListViewModel>

@{
    ViewBag.Title = "UserAssignedCategories";
}

<h2>The Student Has Access to the Below Categories.</h2>

<br/>
@if (Request.IsAuthenticated)
{
    if (User.IsInRole("Teacher"))
    {
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CategoryAssigned)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryAssigned)
                    </td>
                    <td>@Html.ActionLink("Unassign", "Unassign", "Home", new {cat = item.CategoryAssigned, id = Url.RequestContext.RouteData.Values["id"]}, null)</td>
                </tr>

            }

        </table>
    }

    else
    {
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CategoryAssigned)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.CategoryAssigned, "Details","Categories", new {id = f})
                    </td>
                </tr>

            }

        </table>
    }
}